@import 'fonts'
@import 'gia.ui/gia.ui'
@import 'animations'
@import 'explorer'
@import 'modals'

main-gradient(direction = top)
  background linear-gradient(direction, #0ce4e1, #d855ff)

::selection
  background #0ce4e1
  color white

@keyframes mis
  0%
    transform scale(1.2)
    opacity .75
  50%
    transform scale(1)
    opacity 1
  100%
    transform scale(1.2)
    opacity .75

@keyframes kre
  0%
    transform scale(1)
    opacity .75
  50%
    transform scale(1.2)
    opacity 1
  100%
    transform scale(1)
    opacity .75

html
body
  overflow-x hidden
  background-color darken(#111, 2)
  &.no-scroll
    overflow hidden
  &.no-js
    #preload
      display none
    [data-aos]
      opacity 1
      transform translate(0) scale(1)

span.miskre
  display inline-block
  background-image url(./miskre.svg)
  background-repeat no-repeat
  background-position left center
  background-size 0.75em
  padding-left 1em
  font-weight bold
  color white
  text-transform lowercase
  margin-left .4em
  margin-right .4em
span.mis
span.kre
  display inline-block
  background-image url(./mis.svg)
  background-repeat no-repeat
  background-position left center
  background-size 0.6em
  padding-left 0.8em
  margin-left .4em
  margin-right .4em
  font-weight bold
  color white
  text-transform uppercase
  font-size .9em
span.kre
  background-image url(./kre.svg)

label
  color monsoon
  font-size 14px
  display block
  margin-bottom 10px
  > :first-child
    margin-top 5px
    color white
    font-size 13px
    font-weight bold
    font-family font-family-monospace

input[type=file]
  width 100%
  overflow hidden
  font-size 12px
  font-family font-family-monospace
  border 1px solid oil
  padding 10px

input
  &[type=text]
  &[type=number]
  &[type=email]
  &[type=password]
    display block
    background-color jet
    font-size 14px
    color snow
    appearance none
    width 100%
    border 1px solid oil
    padding 10px
    font-family font-family-monospace

select
  display block
  background-color jet
  font-size 14px
  color snow
  appearance none
  width 100%
  border 1px solid oil
  padding 10px
  font-family font-family-monospace

.{button-class}
  &.{active-class}
    font-weight bold
    font-size 14px
    padding 12px 20px
    main-gradient(30deg)

.debug
  background-color black

.qr
  margin 10px 0 0 0
  > div
    font-size 0
.store
  color white
  font-family font-family-monospace
  font-weight bold
  font-size 14px
  word-break break-all
  margin 5px 0 10px 0

.tabs
  display flex
  flex-direction row
  counter-reset steps
  margin-bottom 30px
  > a
    position relative
    counter-increment steps
    padding 20px
    background-color #151515
    text-transform uppercase
    font-size 12px
    color white
    font-weight bold
    transition background-color .5s ease-in-out
    &:hover
      background-color jet
    &.{active-class}
      main-gradient(45deg)
    &:not(:last-child):not(.{active-class})
      &:after
        content ''
        display block
        width 1px
        background-color rgba(black, .5)
        position absolute
        right 0
        top 10px
        bottom @top

.memo
  color iron
  font-size 14px
  margin-bottom 20px

.error
  font-size 13px
  color danger-color
  margin-bottom 10px

#preload
  height 100vh
  logo-size = 28px
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 9999
  background-color #000
  display table
  width 100%
  .text
    display table-cell
    vertical-align middle
    color gainsboro
    font-size: (logo-size * .86)
    font-weight bold
    text-align center
    > *
      vertical-align top
  .progress
    display inline-block
    position relative
    width: logo-size * 1.1875
    margin-right: logo-size * .75
  .mis
  .kre
    width logo-size
    position absolute
  .mis
    left 0
    animation-name mis
    animation-duration 1s
    animation-iteration-count infinite
    animation-direction both
  .kre
    right 0
    animation-name kre
    animation-duration 1s
    animation-iteration-count infinite
    animation-direction both

.navigation
  margin-bottom 20px
  font-size 0
  .previous
  .next
    display inline-block
    cursor pointer
    &:before
      display block
      font-weight normal
      width 36px
      height @width
      color white
      background-color #161616
      line-height @height
      text-align center
      font-size 13px
      transition background-color .5s ease-in-out
    &:hover
      &:before
        background-color #000
  .previous
    margin-right 15px
    &:before
      content '←'
  .next
    &:before
      content '→'

.section-title
  margin-bottom 15px

.card
  color steel
  > .caption
    background-color #050505
    padding 10px 15px
    color white
  > .content
    padding 15px
    background-color #0f0f0f

#menu
  position fixed
  background-color rgba(#111, .975)
  top 0
  right 0
  bottom 0
  left 0
  z-index 1000
  padding 90px 20px 40px 60px
  @media medium
    padding 120px 20px 50px 120px
  @media large
    padding 150px 20px 50px 120px
  ul.navigations
    margin 0
    padding 0
    list-style none
    a
      color jumbo
      font-weight bold
      transition color .5s ease-in-out
      font-size 20px
      // text-transform uppercase
      line-height 30px
      @media medium
        font-size 24px
        text-transform none
        line-height 36px
      &:hover
        color white

#top-bar
  position fixed
  top 0
  left 0
  right 0
  font-size 0
  pointer-events none
  z-index 1000
  padding-top 40px
  padding-bottom 30px
  background linear-gradient(top, rgba(#000, .5), transparent)
  transition top .5s ease-in-out
  &.up
    top -100px
  &.down
    top 0
  @media medium
    padding-top 70px
    padding-bottom 50px
  a
    pointer-events all
  .menu
    display inline-block
    text-align center
    width 60px
    @media medium
      width 120px
  .logo
    display inline-block
  .enter-whitelist
    main-gradient(left)
    display inline-block
    font-weight bold
    -webkit-background-clip text
    -webkit-text-fill-color transparent
    float right
    color white
    font-size 16px
    margin-right 20px
    margin-top 5px

#social-bar
  position fixed
  bottom 0
  left 0
  width 120px
  padding-bottom 70px
  pointer-events none
  z-index 1000
  display none
  @media medium
    display block
  > a
    display block
    text-align center
    pointer-events all
    &:not(:last-child)
      margin-bottom 40px

#slides
  section
    position relative
    width 100%
    background-color #111
    &.full-height
      min-height 100vh
    > .video
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      z-index 1
      // pointer-events none
      object-fit cover
    > .bg
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      background-repeat no-repeat
      background-size cover
      background-position center
      // @media large
      //   left 30%
      &.static
        background-attachment fixed
      &:after
        content ''
        position absolute
        display block
        top 0
        right 0
        bottom 0
        left 0
        background radial-gradient(circle at 0 0, #111 15%, rgba(#111, .2))
    > .fg
      max-width 1300px
      position relative
      z-index 1
      width 100%
      padding 120px 20px 40px 20px
      &.static
        background-attachment fixed
      &.full-width
        max-width none
      @media medium
        padding 170px 20px 50px 120px
      @media large
        padding 200px 20px 150px 120px
  .section-title
    color white
    font-weight bold
    font-size 20px
  .part-title
    color snow
    font-weight bold
    text-transform uppercase
    font-size 13px
  .title
    margin-bottom 20px
    @media medium
      margin-bottom 40px
      display flex
    @media large
      margin-bottom 60px
    h1
      font-weight bold
      line-height 1.15em
      color white
      font-size 40px
      @media medium
        font-size 72px
        line-height 1.1em
      @media large
        line-height 1em
        font-size 100px
      small
        font-size 14px
        line-height 1em
    h2
      font-weight bold
      line-height 1em
      color white
      font-size 24px
      @media medium
        font-size 32px
      @media large
        font-size 48px
    p
      font-size 13px
      color #999
      line-height 22px
      font-weight normal
      max-width 600px
      margin-top 15px
      @media medium
        font-size 14px
        margin-top 20px
        padding-left 30px
      @media large
        margin-top 25px
  .description
    font-size 14px
    color #999
    line-height 1.5em
    max-width 600px