.modal
  background-color #0f0f0f
  > .header
    background-color #050505
    padding 10px 15px
    color white
  a.x
    position absolute
    display block
    width 36px
    height @width
    line-height @height
    text-align center
    top 0
    right 0
    color white

.paper-wallet-modal
  background-color #0f0f0f
  margin-bottom 0