@import 'gia.ui/gia.ui'

html
body
  background-color #111

body
  // background-image url(bridge.jpeg)
  min-height 100vh
  background-color #111
  background-repeat no-repeat
  background-size cover
  
#desktop
  ul.icons
    margin 0
    padding 0
    list-style none
    position absolute
    top 30px
    right 20px
    > li
      display block
      &:not(:last-child)
        margin-bottom 15px
  .frame
    width 100px
    text-align center
    img
      max-height 48px
      filter drop-shadow(0px 3px 5px rgba(black, .33))
    .label
      font-family font-family-monospace
      display block
      color white
      font-size 12px
      text-shadow 0 3px 5px rgba(black, .33)

#windows-manager
  
  .overlay
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    pointer-events none
    @media small-only
      position initial

  .window
    small-padding = 20px
    medium-padding = 25px
    large-padding = 30px
    padd()
      padding-left small-padding
      padding-right @padding-left
      @media medium
        padding-left medium-padding
        padding-right @padding-left
      @media large
        padding-left large-padding
        padding-right @padding-left
    transition opacity .5s ease-in-out
    border 1px solid lighten(#111, 1)
    position absolute
    background-color #1a1a1a
    max-width 100%
    box-shadow 0 20px 40px 0 rgba(black, .33)
    max-height 100vh
    pointer-events all
    @media small-only
      position initial
    h1
      font-size 16px
      font-weight bold
      color white
    p
      color steel
      font-size 13px
    pre
      background-color black
      border-radius 0
      margin 0
      overflow scroll
    code
      font-family font-family-monospace
      font-size 12px
      word-break break-word
    .padding
      padd()
    .x
      display block
      width 35px
      heigh @width
      text-align center
      color white
      cursor pointer
      line-height @width
      position absolute
      background-color lighten(#111, 2)
      right 0
      top 0
      z-index 1
    .title
      .big
        height 100px
        overflow-x hidden
        position relative
      .small
        color white
        padding 10px
        font-size 12px
        font-weight bold
      em
        position absolute
        font-size 80px
        font-weight bold
        color #1f1f1f
        font-style normal
        top -10px
        left -20px
        pointer-events none
      img.logo
        margin 40px 0 0 30px
        position relative
        width 96px
        z-index 1

  .part-title
    color steel
    font-weight bold
    font-size 11px
    text-transform uppercase
    margin-bottom 10px
    
  ul.info-bar
    background-color #111
    margin 0
    padding 0
    list-style none
    overflow-x scroll
    font-size 0
    > li
      position relative
      display inline-block
      padding 10px 15px
      &:not(:last-child)
        &:after
          content ''
          display block
          width 1px
          position absolute
          top 12px
          bottom @top
          right 0
          background-color #1a1a1a
      .name
        font-size 10px
        color tuatara
        text-transform uppercase
      .value
        font-size 13px
        color smoke
        
  .blocks-panel
    @media medium
      height 440px
  .transactions-panel
    @media medium
      height 440px
    
  ul.blocks
  ul.transactions
    margin 0
    padding 0
    list-style none
    li
      padding 8px 0
      &:not(:last-child)
        border-bottom 1px solid jet
    .name
      color white
      font-weight bold
      cursor pointer
      font-family font-family-monospace
      font-size 13px
    .time
      color base
      font-size 12px
    