clearfix()
  &:before,
  &:after
    content ''
    display table
  &:after
    clear both

.vue-dialog
  word-break break-word

.crip-loading
  background linear-gradient(left, #0ce4e1, #d855ff) !important
  height 3px !important

span.on-testnet
  display inline-block
  background-color lighten(info-color, 10)
  border 1px solid info-color
  font-size 11px
  font-weight bold
  text-transform uppercase
  color black
  padding 4px 4px 2px
  vertical-align top
  animation net 1s infinite

.loading
  logo-size = 16px
  // background-color lighten(black, 8)
  text-align center
  display table
  width 100%
  padding 15px 10px
  margin 15px 0
  .progress
    display inline-block
    position relative
    width: logo-size * 1.1875
    margin-right 10px
    height @width
  .text
    display table-cell
    vertical-align middle
    color steel
    font-size: (logo-size * .75)
    letter-spacing 1px
    text-transform uppercase
    line-height: (logo-size * 1.2)
    > *
      vertical-align top
  .mis
  .kre
    width logo-size
    position absolute
  .mis
    left 0
    animation-name mis
    animation-duration 1s
    animation-iteration-count infinite
    animation-direction both
  .kre
    right 0
    animation-name kre
    animation-duration 1s
    animation-iteration-count infinite
    animation-direction both

.cover
  position relative
  width 100%
  background-color #111
  > .bg
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background-repeat no-repeat
    background-size cover
    background-position center
    &.static
      background-attachment fixed
    &:after
      content ''
      position absolute
      display block
      top 0
      right 0
      bottom 0
      left 0
      background radial-gradient(circle at 0 0, #111 15%, rgba(#111, .2))
  > .fg
    z-index 1
    width 100%
    padding 120px 0 10px 0
    .safe
      @media small-only
        padding-left 20px
        padding-right 20px
    &.static
      background-attachment fixed
    &.full-width
      max-width none
    @media medium
      padding 170px 20px 10px 120px
    @media large
      padding 200px 20px 10px 120px
    .title
      margin-bottom 20px
      @media medium
        margin-bottom 30px
        display flex
      @media large
        margin-bottom 40px
      h1
        font-weight bold
        line-height 1.15em
        color white
        font-size 40px
        @media medium
          font-size 72px
          line-height 1.1em
        @media large
          line-height 1em
          font-size 100px
        small
          font-size 14px
          line-height 1em
      h2
        font-weight bold
        line-height 1em
        color white
        font-size 24px
        @media medium
          font-size 32px
        @media large
          font-size 48px
      p
        font-size 13px
        color #999
        line-height 22px
        font-weight normal
        max-width 600px
        margin-top 15px
        @media medium
          font-size 14px
          margin-top 20px
          padding-left 30px
        @media large
          margin-top 25px
    .description
      font-size 14px
      color #999
      line-height 1.5em
      max-width 600px

pre.debug
  overflow-x scroll

.script
  margin-bottom 15px
  > span
    font-size 12px
    text-transform uppercase
    font-weight bold
  pre
    margin 5px 0 0 0
    background-color black
    overflow hidden
    white-space normal
    word-break break-word

.blocks
.transactions
  margin 0
  padding 0
  list-style none
  > li
    padding 10px 0
    &:not(:last-child)
      border-bottom 1px solid #1a1a1a
  .time
    color monsoon
  .type
    color steel
    font-size 12px
    margin-bottom 3px
  .txid
  .hash
    display block
    max-width 100%
    text-overflow ellipsis
    white-space nowrap
    overflow hidden

dl.info
  clearfix()
  dt
    width 30%
    float left
    clear left
    font-size 12px
    text-transform uppercase
  dd
    width 70%
    float left
    color white

.navigator
  font-size 0
  margin-bottom 20px
  .previous
  .next
    display inline-block
    width 42px
    height @width
    color white
    background-color black
    text-align center
    line-height @height
    transition background-color .5s ease-in-out
    font-size 12px
    &:hover
      background-color lighten(black, 5)
    &:not(:last-child)
      margin-right 1px

ul.balances
  margin 0
  padding 0
  list-style none
  > li
    display block
    background-color lighten(black, 8)
    padding 10px 15px 5px
    &:not(:last-child)
      margin-bottom 10px
    .name
      font-size 12px
      color base
    .status
      margin-top 5px
      color snow
      font-size 12px
      .asset
        font-size 14px

.asset
  display inline-block
  .integer
  .point
  .fractional
    font-family font-family-monospace
    color white
    font-weight bold
  .integer
    font-size 1.1em
  .point
  .fractional
    font-size 1em
  .symbol
    font-weight normal
    font-size 12px
    color base
    margin-left 5px

.wallet-info
  .address
    color white
    font-weight bold
    font-family font-family-monospace
    font-size 15px

ul.faqs
  margin-bottom 10px
  > li:not(:last-child)
    margin-bottom 15px
  .question
    color snow
    margin-bottom 10px
    cursor pointer
